<div class='navbar navbar-inverse navbar-fixed-top'>
    <div class='navbar-inner'>
        <div class='container'>
            <div class='nav-collapse collapse'>
                <ul class='nav'>
                    <li {{bindAttr class="isHome:active"}}>{{#linkTo 'index'}}Home{{/linkTo}}</li>
                    <li {{bindAttr class="isAllItems:active"}}>{{#linkTo 'items.index'}}All Items{{/linkTo}}</li>
                    <li {{bindAttr class="isFeatured:active"}}>{{#linkTo 'items.featured'}}Featured{{/linkTo}}</li>
                    <li {{bindAttr class="isNewest:active"}}>{{#linkTo 'items.newest'}}Newest{{/linkTo}}</li>
                    <li {{bindAttr class="isPopular:active"}}>{{#linkTo 'items.popular'}}Most Popular{{/linkTo}}</li>
                    <li {{bindAttr class="isRandom:active"}}>{{#linkTo 'items.random'}}Random{{/linkTo}}</li>
                </ul>
                <form class="navbar-search pull-right">
                    {{view Prototypable.SearchBox}}
                </form>
            </div>
        </div>
    </div>
</div>
<div class='container' id='main'>
    <div class='content'>
        <div class='row'>
            <div class='span12'>
                <div class='page-header'></div>
                {{outlet}}
            </div>
        </div>
    </div>
</div>
